@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Monoton');
* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Slab';
}

body {
    background-color: #313131;
}

h1 {
    padding: .5em 0 0 0;
    font-size: 3.5em;
    font-family: 'Monoton', cursive;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: white;
    background: linear-gradient(to bottom, #eee, rgb(180, 33, 33));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2.5em;
    color: white;
    letter-spacing: .5em;
}

#drummachine, #acousticdrums, #loopstation {
    padding: 1.5em;
    background-blend-mode: overlay;
    height: auto;
    margin: 1.5em;
    -webkit-box-shadow: 6px 6px 11px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 6px 6px 11px -1px rgba(0, 0, 0, 1);
    box-shadow: 6px 6px 11px -1px rgba(0, 0, 0, 1);
    z-index: -2;
}

#drummachine {
    background: url(img/drummachine.jpg) rgb(43, 40, 40);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat-y;
}

#acousticdrums {
    background: url(img/drums.jpg) rgb(43, 40, 40);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat-y;
}

#loopstation {
    background: url(img/loopstation.jpg) rgb(43, 40, 40);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat-y;
}

.key {
    display: inline-block;
    font-size: 2em;
    padding: .8em 1em;
    border: .1em solid black;
    margin: .3em .5em;
    font-weight: bold;
    width: 2em;
    height: 2em;
    background-color: rgba(255, 255, 255, .4);
    z-index: 0;
}
/* 
.progress {
    display: inline-block;
    font-size: 2em;
    border: .1em solid rgba(185, 123, 123, 0);
    margin: .3em .5em;
    font-weight: bold;
    width: 3.8em;
    width: 0em;
    height: 3.4em;
    background-color: rgba(221, 33, 33, .7);
    z-index: 0;
    position: absolute;
    margin-left: .6em;
    margin-top: .4em;
}

.transition {
    width: 4em;
    transition: width 17s;
} */

.active-dm {
    border: .1em solid yellow;
    color: yellow;
}

.active-ad {
    border: .1em solid fuchsia;
    color: fuchsia;
}

.active-loop {
    border: .1em solid goldenrod;
    color: goldenrod;
}

.label {
    display: block;
    font-weight: normal;
    font-size: .5em;
}