@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    padding: 1em;
}

h2 {
    font-size: 2em;
    color: white;
    font-family: 'Roboto Slab';
    letter-spacing: .5em;
}

#drumkit {
    background:url(img/drums.jpg) rgb(41, 38, 38);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat-y;
    padding: 1em;
    background-blend-mode: overlay;
    height: auto;
}

.key {
    font-family: 'Roboto Slab';
    display: inline-block;
    font-size: 2em;
    padding: .8em 1em;
    border: 2px solid black;
    margin: .3em .5em;
    font-weight: bold;
    width: 2em;
    height: 2em;
    background-color: rgba(255,255,255,.5);
}

.active {
    border: 2px solid yellow;
    color: yellow;
}

.label {
    display: block;
    font-weight: normal;
    font-size: .5em;
}